@using MainProject.Models.Classes
@model User
@{
    ViewBag.Title = "MyProfile";
}

<h2>Profile</h2>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <br>
    <div>
          Welcome @Model.UserMail !

    </div>

</body>
</html>
